<footer class="content-grid flow">
    <section class="sep">
        <a href="/contact/" class="button">Pour discuter, c'est par là.</a> 
    </section>
    <section class="footer__copyright">
        <span>©2024_ Antoine Moreau</span>
        <span>[V. 0.9]</span>
    </section>
</footer>