<footer class="content-grid flow">
    <section class="sep">
        <a href="mailto:antoine9510@gmail.com" class="button">Pour discuter, c'est par là. <i>(Et par mail 📧)</i></a> 
    </section>
    <section class="footer__copyright">
        <span>©2024_ Antoine Moreau</span>
        <span>[V. 1.0]</span>
    </section>
</footer>