<footer class="content-grid flow">
    <a href="/contact" class="button">Pour discuter, c'est par là.</a>
    <section class="footer__copyright">
        <span>©2024_ Antoine Moreau</span>
        <span>V. 0.1</span>
    </section>
</footer>