<header class="header content-grid relative">
    <nav class="breakout">
        <a class="button" href="/">Accueil</a>
        <a class="button" href="/all-post/">Tout les articles</a>
        <a class="button" href="/contact/">Contact</a>
    </nav>
    <button type="button" aria-label="Passer au thème clair" data-theme-toggle class="switch-color breakout">
        <span>switch color</span>
    </button>
</header>