<!DOCTYPE html>
<html lang="fr" data-theme="">
<head>
    {% include 'head.njk' %}
    <script src="/scripts/postNav.js"></script>
    {# <script src="/scripts/backToTop.js"></script> #}
</head>
<body class="flow">
    {% include 'header.njk' %}
    <main class="content-grid flow post relative">
        <aside class="post__post-nav">
            <nav class="flow"></nav>
        </aside>
        <a href="" onclick="window.history.go(-1); return false;" class="post__retour">Retour</a>
        <figure class="">
            <img class="post__image-intro" src="{{ image }}" alt="{{ imageAlt }}"/>
        </figure>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
</body>
</html>