/*--------- Reset ---------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
img {
    display: block;
    min-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------- Définition des variables de bases ---------*/
:root {
    /* Tailles des textes fluides  */
    --size-step--2: clamp(0.6944rem, 0.6376rem + 0.284vi, 0.84rem);
    --size-step--1: clamp(0.8333rem, 0.7488rem + 0.4228vi, 1.05rem);
    --size-step-0: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
    --size-step-1: clamp(1.2rem, 1.028rem + 0.8598vi, 1.6406rem);
    --size-step-2: clamp(1.44rem, 1.2016rem + 1.1918vi, 2.0508rem);
    --size-step-3: clamp(1.728rem, 1.402rem + 1.6302vi, 2.5635rem);
    --size-step-4: clamp(2.0736rem, 1.6323rem + 2.2063vi, 3.2043rem);
    --size-step-5: clamp(2.4883rem, 1.8963rem + 2.9602vi, 4.0054rem);
    --size-step-6: clamp(2.986rem, 2.1974rem + 3.943vi, 5.0068rem);
    --size-step-7: clamp(3.5832rem, 2.5392rem + 5.2201vi, 6.2585rem);
  
    /* Espacements fluides */
    --space-3xs: clamp(0.25rem, 0.2256rem + 0.122vi, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4268rem + 0.3659vi, 0.6875rem);
    --space-xs: clamp(0.75rem, 0.6524rem + 0.4878vi, 1rem);
    --space-s: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
    --space-m: clamp(1.5rem, 1.3049rem + 0.9756vi, 2rem);
    --space-l: clamp(2rem, 1.7561rem + 1.2195vi, 2.625rem);
    --space-xl: clamp(3rem, 2.6341rem + 1.8293vi, 3.9375rem);
    --space-2xl: clamp(4rem, 3.5122rem + 2.439vi, 5.25rem);
    --space-3xl: clamp(6rem, 5.2683rem + 3.6585vi, 7.875rem);
  
    /* Couleurs */
    --color-white: #ffffff;
    --color-light-grey: #F4F4F4;
    --color-dark-grey: #313131;
    --color-black: #0E0E0E;
    --color-accent: #E3651D;
    --color-accent-light: #FAA371;
    --color-accent-dark: #8F3807;

    /* Typographie */
    --text-line-height: 1.5;
    --text-line-height-short: 1.3;
    --text-line-height-fine: 1.1;
    --text-line-height-flat: 1;
    --text-line-height-loose: 1.7;
    --text-size-base: var(--size-step-0);
    --text-size-big: var(--size-step-1);
    --text-size-desc: var(--size-step--1);
    --text-size-heading-1: var(--size-step-5);
    --text-size-heading-2: var(--size-step-4);
    --text-size-heading-3: var(--size-step-3);
    --text-size-heading-4: var(--size-step-2);
    --font-base: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* Espacements */
    --space-gutter: var(--space-m);
    --space-gutter-s: var(--space-s);
    --space-gutter-l: var(--space-l);
    --space-regions: var(--space-xl);
    --size-wrapper-max-width: 1100px;

    /* Divers */
    --focus-ring: 2px solid currentColor;
    --focus-ring-offset: 2px;
    --radius: 1rem;
}

/*--------- style général à hériter ---------*/
body {
    --flow-space: var(--space-2xs);
    padding: var(--space-2xs);
    margin: 0;
    background: var(--color-dark-grey);
    font-family: var(--font-base);
    font-size: var(--text-size-base);
    line-height: var(--text-line-height);
    color: var(--color-white);
}
main {
    border-radius: var(--radius);
    display: grid;
    gap: var(--space-2xs);
}
:is(section, aside, footer) {
    font-family: var(--font-base);
    font-size: var(--text-size-base);
    line-height: var(--text-line-height);
    background: var(--color-black);
    border-radius: var(--radius);
    padding: var(--space-gutter-s);
}

/* Titres */
:is(h1, h2, h3, h4, h5, h6) {
    line-height: var(--text-line-height-fine);
}
h1 {
    font-size: var(--text-size-heading-1);
    font-weight: var(--font-weight-regular);
}
h2 {
    font-size: var(--text-size-heading-3);
    font-weight: var(--font-weight-medium);
}
h3 {
    font-size: var(--text-size-heading-4);
    font-weight: var(--font-weight-regular);
}

/* bouton */
button {
    display: inline-flex;
    gap: var(--button-gap, var(--space-gutter));
    padding: var(--button-padding, 0);
    background: var(--button-bg, none);
    color: var(--button-text, var(--color-accent));
    border: none;
    text-decoration: underline;
    border-radius: var(--button-radius, 0);
    font-weight: var(--button-font-weight, var(--font-weight-medium));
  }
  
button:hover {
    background: var(--button-interact-bg, none);
    color: var(--button-interact-text, var(--color-accent-dark));
    cursor: pointer;
}

/*--------- Layout ---------*/
.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

@media (min-width: 60rem) {
    main {
        grid-template-columns: 300px 1fr;
    }
}

/*--------- Style spécifique ---------*/