/*--------- Reset ---------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------- Définition des variables de bases ---------*/
:root {
    /* Tailles des textes fluides  */
    --size-step--2: clamp(0.6944rem, 0.6376rem + 0.284vi, 0.84rem);
    --size-step--1: clamp(0.8333rem, 0.7488rem + 0.4228vi, 1.05rem);
    --size-step-0: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
    --size-step-1: clamp(1.2rem, 1.028rem + 0.8598vi, 1.6406rem);
    --size-step-2: clamp(1.44rem, 1.2016rem + 1.1918vi, 2.0508rem);
    --size-step-3: clamp(1.728rem, 1.402rem + 1.6302vi, 2.5635rem);
    --size-step-4: clamp(2.0736rem, 1.6323rem + 2.2063vi, 3.2043rem);
    --size-step-5: clamp(2.4883rem, 1.8963rem + 2.9602vi, 4.0054rem);
    --size-step-6: clamp(2.986rem, 2.1974rem + 3.943vi, 5.0068rem);
    --size-step-7: clamp(3.5832rem, 2.5392rem + 5.2201vi, 6.2585rem);
  
    /* Espacements fluides */
    --space-3xs: clamp(0.25rem, 0.2256rem + 0.122vi, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4268rem + 0.3659vi, 0.6875rem);
    --space-xs: clamp(0.75rem, 0.6524rem + 0.4878vi, 1rem);
    --space-s: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
    --space-m: clamp(1.5rem, 1.3049rem + 0.9756vi, 2rem);
    --space-l: clamp(2rem, 1.7561rem + 1.2195vi, 2.625rem);
    --space-xl: clamp(3rem, 2.6341rem + 1.8293vi, 3.9375rem);
    --space-2xl: clamp(4rem, 3.5122rem + 2.439vi, 5.25rem);
    --space-3xl: clamp(6rem, 5.2683rem + 3.6585vi, 7.875rem);
  
    /* Couleurs */
    --color-light: #ffffff;
    --color-light-shade: #f3f5f7;
    --color-dark: #000000;
    --color-mid: #ebebeb;
    --color-mid-shade: #dedede;
    --color-midnight: #4a4e69;
    --color-midnight-shade: #22223b;
    --color-eggshell: #f2e9e4;
    --color-blue: #3b71fe;
    --color-blue-glare: #eef6fd;
    --color-slate: #4f5563;

    /* Typographie */
    --leading: 1.5;
    --leading-short: 1.3;
    --leading-fine: 1.1;
    --leading-flat: 1;
    --leading-loose: 1.7;
    --kerning: normal;
    --kerning-tight: -0.04ch;
    --kerning-loose: 0.1ch;
    --text-size-base: var(--size-step-0);
    --text-size-lede: var(--size-step-1);
    --text-size-meta: var(--size-step--1);
    --text-size-heading-1: var(--size-step-5);
    --text-size-heading-2: var(--size-step-4);
    --text-size-heading-3: var(--size-step-3);
    --text-size-heading-4: var(--size-step-2);
    --text-size-prose: var(--text-size-base);
    --space-gutter: var(--space-m);
    --space-gutter-s: var(--space-s);
    --space-gutter-l: var(--space-l);
    --space-regions: var(--space-xl);
    --size-wrapper-max-width: 1100px;
    --color-global-bg: var(--color-light);
    --color-global-text: var(--color-dark);
    --color-surface-bg: var(--color-mid);
    --color-surface-bg-interact: var(--color-mid-shade);
    --color-surface-text: var(--color-dark);
    --color-surface-text-interact: var(--color-dark);
    --font-base: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-display: var(--font-base);
    --font-lede: var(--font-base);
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --focus-ring: 2px solid currentColor;
    --focus-ring-offset: 2px;
}

/*--------- style général à hériter ---------*/
header,
footer {
    background: var(--color-slate);
    padding: 0 var(--space-gutter);
}
body {
    margin: 0;
    font-family: var(--font-base);
    font-size: var(--text-size-base);
    line-height: var(--interlignage);
    background: var(--color-global-bg);
    color: var(--color-global-text);
}
footer {
    color: var(--color-light);
    text-align: center;
    padding: var(--space-gutter);
    font-weight: var(--font-weight-regular);
    font-size: var(--size-step--1);
    font-style: italic;
}

/* sections */
.section-container {
    --flow-space: var(--space-3xl);
    background: var(--color-eggshell);
}
section > * {
    max-width: var(--size-wrapper-max-width);
    margin: 0 auto;
}
section {
    padding: var(--space-3xl) var(--space-gutter);
    background: var(--color-light);
}

/* Titres */
:is(h1, h2, h3, h4, h5, h6) {
    line-height: var(--leading-fine);
}
h1 {
    font-size: var(--text-size-heading-1);
    font-weight: var(--font-weight-regular);
}
h2 {
    font-size: var(--text-size-heading-3);
    font-weight: var(--font-weight-medium);
}
h3 {
    font-size: var(--text-size-heading-4);
    font-weight: var(--font-weight-regular);
}

/* bouton */
button {
    display: inline-flex;
    gap: var(--button-gap, var(--space-gutter));
    padding: var(--button-padding, 0.8em 1.5em);
    background: var(--button-bg, var(--color-surface-bg));
    color: var(--button-text, var(--color-surface-text));
    border: solid 2px var(--color-slate);
    border-radius: var(--button-radius, 0);
    text-decoration: none;
    font-weight: var(--button-font-weight, var(--font-weight-medium));
  }
  
button:hover {
    background: var(--button-interact-bg, var(--color-surface-bg-interact));
    color: var(--button-interact-text, var(--color-surface-text-interact));
    cursor: pointer;
}

/* images */
img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/*--------- Layout ---------*/
.flow > * + * {
    margin-top: var(--flow-space, 1em);
}
.flex-row {
    display: flex;
    flex-direction: row;
    column-gap: var(--space-gutter);
}

/*--------- Style spécifique ---------*/
/* nav */
.main-nav ul {
    max-width: var(--size-wrapper-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: var(--space-gutter);
    padding: var(--space-gutter) 0;
}
.main-nav a {
    color: var(--color-light);
}

/* hero */
#hero {
    --flow-space: var(--space-l);
    background: var(--color-eggshell);
}
#hero h1 > *,
#hero img {
    display: block;
}
#hero em {
    margin-top: var(--space-s);
    display: block;
    font-size: var(--text-size-meta);
    color: var(--color-slate);
}
#hero .flex-row {
    align-items: flex-end;
}
#hero img {
    width: 20rem;
    height: 100%;
}

/* post */
.post-container,
.post button {
    margin-top: var(--space-gutter);
}
.post-container.flow {
    --flow-space: var(--space-l);
}
.post {
    --flow-space: var(--space-2xs);
    box-sizing: border-box;
    background: var(--color-eggshell);
    padding: var(--space-s) 0;
}
.post h3 {
    color: var(--color-midnight-shade);
    font-weight: var(--font-weight-medium);
}
.post > * {
    margin-inline-start: var(--space-s);
    margin-inline-end: var(--space-s);
}
.post p.date {
    line-height: var(--leading-fine);
    font-size: var(--size-step--2);
    color: var(--color-slate);
    font-style: italic;
}
.post .tag {
    padding: var(--space-3xs) var(--space-2xs);
    background: var(--color-slate);
    color: var(--color-light);
    display: inline-block;
    border-radius: var(--space-3xs);
    font-size: var(--size-step--1);
}
.post p.desc {
    line-height: var(--leading-loose);
    font-size: var(--size-step--1);
    inline-size: 75ch;
}
