/*--------- Reset ---------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}
img {
    display: block;
    min-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    scroll-behavior: smooth;
}


/*--------- Définition des variables de bases ---------*/
:root {
    /* Tailles des textes fluides  */
    --size-step--2: clamp(0.6944rem, 0.6376rem + 0.284vi, 0.84rem);
    --size-step--1: clamp(0.8333rem, 0.7488rem + 0.4228vi, 1.05rem);
    --size-step-0: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
    --size-step-1: clamp(1.2rem, 1.028rem + 0.8598vi, 1.6406rem);
    --size-step-2: clamp(1.44rem, 1.2016rem + 1.1918vi, 2.0508rem);
    --size-step-3: clamp(1.728rem, 1.402rem + 1.6302vi, 2.5635rem);
    --size-step-4: clamp(2.0736rem, 1.6323rem + 2.2063vi, 3.2043rem);
    --size-step-5: clamp(2.4883rem, 1.8963rem + 2.9602vi, 4.0054rem);
    --size-step-6: clamp(2.986rem, 2.1974rem + 3.943vi, 5.0068rem);
    --size-step-7: clamp(3.5832rem, 2.5392rem + 5.2201vi, 6.2585rem);
  
    /* Espacements fluides */
    --space-3xs: clamp(0.25rem, 0.2256rem + 0.122vi, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4268rem + 0.3659vi, 0.6875rem);
    --space-xs: clamp(0.75rem, 0.6524rem + 0.4878vi, 1rem);
    --space-s: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
    --space-m: clamp(1.5rem, 1.3049rem + 0.9756vi, 2rem);
    --space-l: clamp(2rem, 1.7561rem + 1.2195vi, 2.625rem);
    --space-xl: clamp(3rem, 2.6341rem + 1.8293vi, 3.9375rem);
    --space-2xl: clamp(4rem, 3.5122rem + 2.439vi, 5.25rem);
    --space-3xl: clamp(6rem, 5.2683rem + 3.6585vi, 7.875rem);
  
    /* Couleurs */
    --color-white: #ffffff;
    --color-light-grey: #c9c9c9;
    --color-grey: #a8a8a8;
    --color-mid-grey: #7c7c7c;
    --color-mid-grey-light: #3f3f3f;
    --color-dark-grey: #313131;
    --color-black-60: #181818;
    --color-black-80: #111111;
    --color-black: #0e0e0e;
    --color-blue: #16009A;
    --color-purple: #0063D8;
    --color-red: #DE3E3E;

    /* Typographie */
    --text-line-height: 1.5;
    --text-line-height-short: 1.3;
    --text-line-height-fine: 1.1;
    --text-line-height-flat: 1;
    --text-line-height-loose: 2;
    --text-size-base: var(--size-step-0);
    --text-size-big: var(--size-step-1);
    --text-size-desc: var(--size-step--1);
    --text-size-heading-1: var(--size-step-4);
    --text-size-heading-2: var(--size-step-3);
    --text-size-heading-3: var(--size-step-2);
    --text-size-heading-4: var(--size-step-1);
    --font-base: 'Space Grotesk', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Espacements */
    --space-gutter: var(--space-m);
    --space-gutter-s: var(--space-s);
    --space-gutter-l: var(--space-l);
    --space-regions: var(--space-xl);

    /* Divers */
    --focus-ring: 2px solid currentColor;
    --focus-ring-offset: 2px;
    --radius: 1rem;
    --transiton-function: cubic-bezier(.57,.21,.69,1.25) 200ms;
}


/*--------- Layout Sombre ---------*/
[data-theme="dark"] {
    --fond: var(--color-black-80);
    --fond-fonce: var(--color-black);
    --fond-clair: var(--color-black-60);
    --fond-hover: var(--color-black-80);
    --fond-contraste: var(--color-white);
    --fond-contraste-hover: var(--color-light-grey);
    --text-color: var(--color-white);
    --text-color-contraste: var(--color-black);
    --text-secondaire: var(--color-mid-grey);
    --bordure: var(--color-dark-grey);
}


/*--------- Layout clair ---------*/
[data-theme="light"] {
    --fond: var(--color-white);
    --fond-fonce: var(--color-light-grey);
    --fond-clair: var(--color-grey);
    --fond-hover: var(--color-white);
    --fond-contraste: var(--color-white);
    --fond-contraste-hover: var(--color-light-grey);
    --text-color: var(--color-black);
    --text-color-contraste: var(--color-black);
    --text-secondaire: var(--color-mid-grey-light);
    --bordure: var(--color-grey);
}


/*--------- style général à hériter ---------*/
body {
    padding: var(--space-3xs);
    margin: 0;
    background: var(--fond);
    font-family: var(--font-base);
    font-size: var(--text-size-base);
    line-height: var(--text-line-height);
    color: var(--text-color);
}
main {
    display: grid;
    gap: var(--space-3xs);
}
:is(aside, footer) {
    font-family: var(--font-base);
    font-size: var(--text-size-base);
    line-height: var(--text-line-height);
    border-radius: var(--radius);
}

/* Imgs */
img {
    border-radius: var(--radius);
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Titres */
:is(h1, h2, h3, h4, h5, h6) {
    line-height: var(--text-line-height-fine);
}
h1 {
    font-size: var(--text-size-heading-1);
    font-weight: var(--font-weight-bold);
}
h2 {
    font-size: var(--text-size-heading-3);
    font-weight: var(--font-weight-bold);
}
h3 {
    font-size: var(--text-size-heading-4);
    font-weight: var(--font-weight-regular);
}

/* Bouton */
a, button {
    display: block;
    width: fit-content;
    align-content: center;
    padding: var(--button-padding, .8rem 1.5rem);
    background: var(--button-bg, var(--fond-contraste));
    color: var(--button-text-color, var(--text-color-contraste));
    border: none;
    border-radius: var(--button-radius, var(--radius));
    font-size: var(--button-text-size, var(--text-size-base));
    font-weight: var(--button-font-weight, var(--font-weight-regular));
    line-height: var(--text-line-height);
    text-decoration: none;
    transition: background var(--transiton-function);
}
a:hover, button:hover {
    background: var(--button-interact-bg, var(--fond-contraste-hover));
    color: var(--button-interact-text, var(--text-color-contraste));
    cursor: pointer;
}


/*--------- Layout ---------*/
.flow > * + * {
    margin-top: var(--flow-space, var(--space-3xs));
}
.grid-auto {
    display: grid;
    gap: var(--space-3xs);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 1fr;
}
.content-grid {
    --padding-inline: var(--space-gutter);
    --content-max-width: 50ch;
    --breakout-max-width: 70ch;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns: 
    [fullwidth-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 
    minmax(0, var(--breakout-size)) [breakout-end] 
    minmax(var(--padding-inline), 1fr) [fullwidth-end];
}
.content-grid > :not(.breakout, .fullwidth) {
    grid-column: content;
}
.content-grid > .breakout {
    grid-column: breakout;
}
.content-grid > .fullwidth {
    grid-column: fullwidth;
}


/*--------- Style spécifique ---------*/
/* menu */
.main-nav > ul {
    display: grid;
    gap: var(--space-3xs);
    width: 100%;
    box-sizing: border-box;
}
.main-nav .main-nav__item {
    background: var(--_post-background, var(--fond-fonce));
    border-radius: var(--radius);
    list-style-type: none;
}
.main-nav .main-nav__link {
    display: block;
    padding: var(--nav-padding, .8rem 1.5rem);
    border-radius: var(--radius);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
    background: var(--fond-fonce);
    font-size: var(--text-size-desc);
    font-weight: var(--font-weight-light);
    transition: background var(--transiton-function);
}
.main-nav .main-nav__link:hover,
.main-nav .main-nav__link:active {
    background: var(--fond-hover);
}
.main-nav .main-nav__item.current .main-nav__link {
    background: var(--fond-contraste);
    color: var(--text-color-contraste);
    font-weight: var(--font-weight-bold);
}
.main-nav .main-nav__item.current .main-nav__link:hover,
.main-nav .main-nav__item.current .main-nav__link:active {
    background: var(--fond-contraste-hover);
}
/* sub nav */
.main-nav .main-nav__link:has(details) {
    padding: 0;
}
.main-nav details > summary,
details.main-nav > summary {
    cursor: pointer;
    padding: var(--nav-padding, .8rem 1.5rem);
    display: flex;
    align-items: center;
    gap: var(--space-3xs);
    list-style-type: none;
}
.main-nav details > summary > span,
details.main-nav > summary > span {
    user-select: none;
}
.main-nav__link--plus {
    display: inline-flex;
    padding: 4px 8px;
    background: var(--fond-contraste);
    border-radius: 8px;
}
.main-nav__link--plus svg {
    width: var(--size-step--2);
    height: var(--size-step--2);
    transition: all var(--transiton-function);
    transform: rotate(45deg);
    fill: var(--text-color-contraste);
}
details[open] > summary > .main-nav__link--plus svg {
    transition: all var(--transiton-function);
    transform: rotate(0deg);
}
.main-nav__subnav {
    padding: var(--space-3xs) var(--space-2xs);
    background: var(--fond-clair);
    border-radius: var(--radius);
}
.main-nav__subnav .main-nav__item {
    display: inline-flex;
    background: transparent;
}
.main-nav__subnav > li > a {
    padding: var(--space-3xs) var(--space-2xs);
    font-size: var(--text-size-desc);
    margin: 4px 0;
}
/* burger menu */
.menuburger {
    display: grid;
    grid-column: span 6;
    border-radius: var(--radius);
    background: var(--fond-fonce);
}
.menuburger--content > ul {
    background: #1a1a1a;
    border-radius: var(--radius);
    padding: 1rem;
}
.menuburger--content > ul li:not(:first-child) {
    margin-block-start: var(--flow-space, var(--space-3xs));
}


/* fond du site */ 
main {
    position: relative;
}
main::after,
main::before {
    content: "";
    position: fixed;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
[data-theme="light"] main::after {
    filter: brightness(1);
}
[data-theme="dark"] main::after {
    filter: brightness(.3);
}
main::after {
    background: linear-gradient(90deg, var(--color-blue), var(--color-red));
    opacity: .7;
}
main::before {
    background-image: url(/assets/img/holo.jpg);
    opacity: .5; 
}


/* Homepage layout */
.homepage-container {
    display: grid;
    gap: var(--space-3xs);
    grid-template-columns: repeat(6, 1fr);
}
.homepage-container > section {
    border-radius: var(--radius);
    grid-column: span 6;
}
.homepage-container > section:not(.grid-auto) {
    border-radius: var(--radius);
    padding: var(--space-gutter);
    background: var(--fond-fonce);
}
.homepage-container .grid-span-1 {
    grid-column: span 6;
}


/* Hero */
.homepage-container section.hero {
    display: grid;
    gap: var(--space-3xs);
    border-radius: var(--radius);
    background: var(--fond-fonce);
    padding: var(--space-gutter);
}
.hero p {
    max-inline-size: 50ch;
}


/* Post de blog */
.post {
    display: inline-block;
    padding: var(--space-gutter);
    border-radius: var(--radius);
    box-sizing: border-box;
    /* glassmorph */
    background-image: 
        linear-gradient(25deg, color-mix(in srgb, var(--fond-fonce) 30%, var(--fond-fonce) 10%),
        color-mix(in srgb, var(--fond-fonce) 20%, var(--fond-fonce) 10%));
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 1px solid var(--bordure);
} 
.post .post__content {
    padding: var(--space-gutter);
}
.post .post__title {
    font-size: var(--text-size-heading-4);
    letter-spacing: -.05ch;
    font-weight: var(--font-weight-regular);
    width: 100%;
}
.post__tags-container {
    display: inline-block;
}
.post .post__tag,
.post-full .post-full__tag {
    position: relative;
    font-size: calc(var(--text-size-desc) / 1.1);
    line-height: var(--text-line-height-fine);
    font-weight: var(--font-weight-light);
}
.post .post__tag::before,
.post-full .post-full__tag::before {
    content: '•';
    padding-inline-end: calc(var(--space-3xs) / 2);
    color: var(--_tag-color, var(--color-red)); 
}
.post .post__date,
.post-full .post-full__date {
    font-size: var(--size-step--2);
    color: var(--texte-secondaire);
    line-height: var(--text-line-height-loose);
}
.post .post__desc {
    color: var(--texte-secondaire);
    font-size: var(--text-size-desc);
    max-inline-size: 50ch;
    margin-block-start: var(--space-2xs);
    width: 100%;
}
.post .post__button {
    font-size: var(--text-size-desc);
    font-weight: var(--font-weight-regular);
    margin-block-start: var(--space-2xs);
}


/* Post le plus récent */
.homepage-container > section:has(.post.post__latest) {
    padding: 0;
    background: transparent;
}
.post.post__latest {
    min-width: 100%;
    padding: 0;
    display: grid;
}
.post.post__latest img {
    min-height: 100%;
    max-height: 40rem;
}


/* Navigation de post */
.main-nav.post-nav .main-nav__link.active {
    background: var(--fond-contraste);
    color: var(--text-color-contraste);
    text-decoration: underline;
}
main:has(.main-nav.post-nav) .main-nav.post-nav {
    display: none;
}
.post-secondary-nav {
    display: inline-flex;
    gap: var(--space-3xs);
}
.post-secondary-nav :is(a, button) {
    --button-padding: var(--space-2xs);
    --button-text-size: var(--text-size-desc);
}


/* Post full */
.post-full {
    width: 100%;
    box-sizing: border-box;
    padding: var(--space-gutter-s);
    border-radius: var(--radius);
    background-image: 
    linear-gradient(25deg, color-mix(in srgb, var(--fond-fonce) 50%, var(--fond-fonce) 10%),
    color-mix(in srgb, var(--fond-fonce) 40%, var(--fond-fonce) 10%));
}
.post-full__img {
    max-height: 20vh;
    margin-block-end: var(--space-gutter);
}
.post-full .post-full__header--tags-container {
    display: inline-flex;
    column-gap: var(--space-gutter-s); 
    padding-block: var(--space-3xs);
}
.post-full .post-full__content {
    margin-block: var(--space-3xl);
}
.post-full .post-full__content :is(.breakout, quote, section, figure) {
    margin-block: var(--space-l);
}
.post-full .post-full__content ol {
    --flow-space: var(--space-gutter);
}
.post-full .post-full__content li > strong {
    display: block;
}
.post-full .post-full__content quote {
    display: block;
    position: relative;
    font-size: var(--text-size-big);
    padding-inline-start: var(--space-s);
}
.post-full .post-full__content quote::before {
    content: "";
    position: absolute;
    height: 100%;
    width: var(--space-3xs);
    background: var(--color-blue);
    left: 0;
}
.post-full .post-full__content .breakout {
    padding: var(--space-l);
    border-inline-start: solid 4px var(--color-blue);
    border-block-end: solid 4px var(--color-blue);
    background: var(--fond);
    border-radius: var(--radius);
}
.post-full .post-full__content :first-child {
    margin-block-start: 0;
}
.post-full .post-full__content :last-child {
    margin-block-end: 0;
}
.post-full .post-full__content img {
    max-height: 120vh;
}
.post-full .post-full__content figcaption {
    --flow-space: var(--space-3xs);
    font-size: calc(var(--text-size-desc) / 1.1);
    line-height: var(--text-line-height-short);
    color: var(--text-secondaire);
    font-style: italic;
    max-inline-size: 75ch;
}


/* back to top */
#back-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-gutter-s);
    border-radius: var(--radius);
    margin-block: var(--space-l);
    padding: var(--space-gutter);
    background: var(--fond-contraste);
    cursor: pointer;
    transition: background var(--transiton-function);
}
#back-top:hover {
    background: var(--fond-contraste-hover);
}
#back-top > p {
    line-height: var(--text-line-height-fine);
    color: var(--text-color-contraste);
    text-decoration: underline;
    font-size: var(--text-size-big);
}
#back-top > svg {
    width: var(--size-step-4);
    height: var(--size-step-4);
}
#back-top > svg:last-of-type {
    display: none;
}


/* footer */
footer a {
    width: 100%;
    text-align: start;
    text-decoration: underline;
    --button-text-size: var(--text-size-heading-1);
    line-height: var(--text-line-height-fine);
    padding-block: var(--space-xl);
    text-wrap: pretty;
}


/* media au dessus de 60rem de large */
@media (min-width: 60rem) {
    main {
        grid-template-columns: 15rem 1fr;
    }

    /* nav */
    .main-nav {
        position: sticky;
        top: var(--space-3xs);
    }
    .main-nav .main-nav__item.current {
        min-height: 20vh;
    }
    .main-nav.menuburger {
        display: none;
    }
    main:has(.main-nav.post-nav) .main-nav.post-nav {
        display: block;
    }
    

    /* home layout */
    .homepage-container .grid-span-1 {
        grid-column: span 1;
    }
    .homepage-container .grid-span-2 {
        grid-column: span 2;
    }
    .homepage-container .grid-span-4 {
        grid-column: span 4;
    }
    .homepage-container .grid-span-5 {
        grid-column: span 5;
    }

    /* post */
    .post:nth-child(5n+2) {
        grid-column-end: span 2;
    }
    .post:nth-child(3n+3) {
        grid-row-end: span 2;
    }
    .post.post__latest { 
        grid-template-columns: 1fr 1fr;
    }
    .post.post__latest .post__title {
        margin-block-start: calc(var(--space-xl) * 3);
    }

    /* back to top */
    #back-top > svg {
        width: var(--size-step-1);
        height: var(--size-step-1);
    }
    #back-top > svg:last-of-type {
        display: block;
    }

    /* footer */
    footer a {
        text-align: center;
    }
}