/*--------- Reset ---------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}
img {
    display: block;
    min-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    scroll-behavior: smooth;
}


/*--------- Définition des variables de bases ---------*/
:root {
    /* Tailles des textes fluides  */
    --size-step--2: clamp(0.6944rem, 0.6376rem + 0.284vi, 0.84rem);
    --size-step--1: clamp(0.8333rem, 0.7488rem + 0.4228vi, 1.05rem);
    --size-step-0: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
    --size-step-1: clamp(1.2rem, 1.028rem + 0.8598vi, 1.6406rem);
    --size-step-2: clamp(1.44rem, 1.2016rem + 1.1918vi, 2.0508rem);
    --size-step-3: clamp(1.728rem, 1.402rem + 1.6302vi, 2.5635rem);
    --size-step-4: clamp(2.0736rem, 1.6323rem + 2.2063vi, 3.2043rem);
    --size-step-5: clamp(2.4883rem, 1.8963rem + 2.9602vi, 4.0054rem);
    --size-step-6: clamp(2.986rem, 2.1974rem + 3.943vi, 5.0068rem);
    --size-step-7: clamp(3.5832rem, 2.5392rem + 5.2201vi, 6.2585rem);
  
    /* Espacements fluides */
    --space-3xs: clamp(0.25rem, 0.2256rem + 0.122vi, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4268rem + 0.3659vi, 0.6875rem);
    --space-xs: clamp(0.75rem, 0.6524rem + 0.4878vi, 1rem);
    --space-s: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
    --space-m: clamp(1.5rem, 1.3049rem + 0.9756vi, 2rem);
    --space-l: clamp(2rem, 1.7561rem + 1.2195vi, 2.625rem);
    --space-xl: clamp(3rem, 2.6341rem + 1.8293vi, 3.9375rem);
    --space-2xl: clamp(4rem, 3.5122rem + 2.439vi, 5.25rem);
    --space-3xl: clamp(6rem, 5.2683rem + 3.6585vi, 7.875rem);

    /* Couleurs */
    --eerie-black: #252525;
    --old-gold: #CCB045;
    --new-gold: #eed779;
    --gris-100: #F8F9FA;
    --gris-200: #E9ECEF;
    --gris-300: #DEE2E6;
    --gris-400: #CED4DA;
    --gris-500: #ADB5BD;
    --gris-600: #6C757D;
    --gris-700: #495057;
    --gris-800: #343A40;
    --gris-900: #212529;

    /* Typographie */
    --text-line-height: 1.5;
    --text-line-height-short: 1.3;
    --text-line-height-fine: 1.1;
    --text-line-height-flat: 1;
    --text-line-height-loose: 2;
    --text-size-base: var(--size-step-0);
    --text-size-big: var(--size-step-1);
    --text-size-desc: var(--size-step--2);
    --text-size-heading-1: var(--size-step-6);
    --text-size-heading-2: var(--size-step-3);
    --text-size-heading-3: var(--size-step-1);
    --font-base: 'Space Grotesk', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Espacements */
    --space-gutter: var(--space-m);
    --space-gutter-s: var(--space-s);
    --space-gutter-l: var(--space-l);
    --space-regions: var(--space-3xl);

    /* Divers */
    --focus-ring: 2px solid currentColor;
    --focus-ring-offset: 2px;
    --radius: .5rem;
    --transiton-function: cubic-bezier(.57,.21,.69,1.25) 200ms;
    --border: dotted 2px color-mix(in srgb, var(--gris-600) 30%, transparent 40%);
}

/*--------- Layout Sombre ---------*/
[data-theme="dark"] {
    --fond: var(--eerie-black);
    --fond-hover: var(--gris-800);
    --titre-color: white;
    --text-color: var(--gris-300);
    --link-color: var(--old-gold);
    --button-text: var(--gris-900);
    --accent: var(--old-gold);
    --accent-hover: var(--new-gold);
}

/*--------- Layout clair ---------*/
[data-theme="light"] {
    --fond: var(--gris-100);
    --fond-hover: var(--gris-300);
    --titre-color: var(--gris-900);
    --text-color: var(--gris-700);
    --link-color: color-mix(in srgb, var(--old-gold) 70%, var(--eerie-black) 30%);
    --button-text: var(--gris-900);
    --accent: var(--old-gold);
    --accent-hover: var(--new-gold);
}


/*--------- Style général à hériter ---------*/
body {
    margin: 0;
    background: var(--fond);
    font-family: var(--font-base);
    font-size: var(--text-size-base);
    line-height: var(--text-line-height);
    color: var(--text-color);
}
main > :first-child {
    margin-block-start: var(--space-regions);
}

/* Imgs */
img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius);
}
/* Titres */
:is(h1, h2, h3, h4, h5, h6) {
    line-height: var(--text-line-height-fine);
    color: var(--titre-color);
    hyphens: manual;
}
h1 {
    font-size: var(--text-size-heading-2);
    font-weight: var(--font-weight-bold);
}
h2 {
    font-size: var(--text-size-heading-3);
    font-weight: var(--font-weight-bold);
}
h3 {
    font-size: var(--text-size-heading-4);
    font-weight: var(--font-weight-regular);
}
/* Bouton */
.button {
    display: block;
    width: fit-content;
    align-content: center;
    position: relative;
    padding: var(--button-padding, 0);
    background: var(--button-bg, 0);
    color: var(--button-text-color, var(--text-color));
    border: none;
    border-radius: var(--button-radius, var(--radius));
    font-size: var(--button-text-size, calc(var(--text-size-desc) * 1.2));
    font-weight: var(--button-font-weight, var(--font-weight-bold));
    line-height: var(--button-line-height, var(--text-line-height-short));
    text-decoration: none;
    transition: all var(--transiton-function);
}
.button:hover {
    color: var(--button-interact-text, var(--button-hover-text));
    text-decoration: none;
    cursor: pointer;
}
.button::after {
    --after_height: .2rem;
    content: "";
    position: absolute;
    display: block;
    height: 0px;
    width: 100%;
    bottom: calc(var(--after_height) * -1);
    left: 0;
    background: var(--accent);
    transition: all var(--transiton-function);
}
.button:hover::after,
.button.current::after {
    height: var(--after_height);
}

/* liens */
a:not(.button) {
    color: var(--link-color);
}
a[target="_blank"] {
    position: relative;
    text-decoration: none;
}
a[target="_blank"]::after {
    content: "🗗";
    margin-inline-start: calc(var(--size-step--2) / 6);
}

/* svg */
svg path {
    fill: var(--titre-color);
    stroke-width: 1px;
}


/*--------- Layout général ---------*/
.flow > * + * {
    margin-block-start: var(--flow-space, var(--space-m));
}
.content-grid {
    --padding-inline: var(--space-gutter);
    --content-max-width: 50ch;
    --breakout-max-width: 70ch;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns: 
    [fullwidth-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 
    minmax(0, var(--breakout-size)) [breakout-end] 
    minmax(var(--padding-inline), 1fr) [fullwidth-end];
}
.content-grid > :not(.breakout, .fullwidth) {
    grid-column: content;
}
.content-grid > .breakout {
    grid-column: breakout;
}
.content-grid > .fullwidth {
    grid-column: fullwidth;
}


/*--------- Menu ---------*/
.header {
    padding-block-start: var(--space-gutter);
    position: relative;
}

/* swicth color */
.switch-color {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
}
.switch-color[aria-label="Thème sombre"] .switch-on,
.switch-color[aria-label="Thème clair"] .switch-off {
    display: block;
}
.switch-color[aria-label="Thème sombre"] .switch-off,
.switch-color[aria-label="Thème clair"] .switch-on {
    display: none;
}


/* nav */
.main-nav-toggle,
.switch-color.mobile {
    display: none;
}
.switch-color.desk {
    display: inline-block;
} 
.main-nav > a + a {
    margin-inline-start: var(--space-gutter-s);
} 
.main-nav li {
    list-style: none;
    line-height: var(--text-line-height-short);
}
.main-nav li a {
    display: inline-block;
}

@media (max-width: 45rem) {
    .switch-color.mobile {
        display: inline-block;
    }
    .switch-color.desk {
        display: none;
    } 
    .mobile-container {
        padding: var(--space-gutter-s);
        background: var(--fond-hover);
        border-radius: var(--radius);
        z-index: 2;
    }
    .header .main-nav-container,
    .main-nav ul {
        --elem-gap: calc(var(--space-gutter-s) / 2);
        flex-direction: column;
        align-items: flex-start;
    }
    .main-nav-container {
        padding: var(--space-gutter-s);
        position: absolute;
        top: 100%; left: 0;
        width: fit-content;
        z-index: 1;
        pointer-events: none;
    }
    .main-nav-container[data-visible="true"] {
        pointer-events: all;
    }
    .main-nav-container::after {
        content: "";
        position: absolute;
        top: -15%; left: 0;
        width: 100%;
        height: 0;
        background-color: color-mix(in srgb, var(--fond) 60%, var(--fond-hover) 40%);
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
        z-index: 0;
    } 
    .main-nav-container[data-visible="true"]::after {
        height: 115%;
    }
    .main-nav-container > * {
        z-index: 1;
    }
    .main-nav-container[data-visible="false"] > * {
        opacity: 0;
        transition: none;
    }
    .main-nav-container[data-visible="true"] > * {
        opacity: 1;
        transition: all 300ms 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .main-nav-toggle {
        position: relative;
        display: inline-block;
        height: 32px;
        width: 32px;
        border: 0;
        cursor: pointer;
        background-color: transparent;
    }
    .main-nav-toggle > svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    .main-nav-toggle .line {
        opacity: 1;
        transform: rotate(0);
        transform-origin: center;
        transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .main-nav-toggle[aria-expanded="true"] .line-1 {
        transform: rotate(45deg) translate(0px, 8px);
    }
    .main-nav-toggle[aria-expanded="true"] .line-2 {
        opacity: 0;
    }
    .main-nav-toggle[aria-expanded="true"] .line-3 {
        transform: rotate(-45deg) translate(0px, -7px);
    }
}

/*--------- hero ---------*/
.hero {
    --flow-space: var(--space-gutter-s);
}
.hero h1 {
    font-size: var(--text-size-heading-1);
}
.hero__img img {
    border-radius: calc(var(--radius) * 2);
    min-width: auto;
    max-width: var(--space-regions);
    width: auto;
    border: solid 1px;
}


/*--------- tags ---------*/
.tags {
    list-style: none;
    --elem-gap: var(--space-gutter-s);
}
.tags :is(a.tags__tag, .tags__tag) {
    text-decoration: none;
    font-size: var(--tags-font-size, var(--text-size-big));
    border: solid 1px;
    color: var(--titre-color);
    background: transparent;
    padding: var(--tags-padding, var(--space-2xs) var(--space-s));
    border-radius: var(--radius);
    transition: all var(--transiton-function);
}
.tags a.tags__tag:hover {
    background: var(--accent);
}
.tags > li {
    display: flex;
}


/*--------- sep ---------*/
.sep {
    border-block-start: var(--border);
    padding-block-start: var(--space-gutter);
}


/*---------  categorie --------- */
.categorie.flow {
    --flow-space: var(--space-gutter);
}


/*--------- Preview de post ---------*/
.post-preview__content {
    --flow-space: calc(var(--space-gutter-s) / 2);
}
.post-preview__content--tags .tags__tag {
    --tags-font-size: var(--text-size-desc);
    --tags-padding: calc(var(--space-gutter-s) / 6) calc(var(--space-gutter-s) / 3);
    color: var(--gris-600);
    opacity: .7;
}
a:has(.post-preview__content--titre) {
    text-decoration-color: var(--accent);
}
.post-preview__content .flex {
    --elem-gap: calc(var(--space-gutter-s) / 2);
}
.post-preview__content--button {
    --button-font-weight: var(--font-weight-bold);
    --button-text-size: calc(var(--text-size-desc) * 1.2);
    --button-padding: 0;
    --button-bg: transparent; 
    position: relative;
}
.post-preview__content--date {
    font-size: var(--text-size-desc);
    color: var(--gris-600);
}
.post__retour {
    position: relative;
    text-decoration: none;
    width: fit-content;
}
.post__retour::before {
    content: "←";
    display: inline;
    margin-inline-end: calc(var(--space-gutter-s) / 2);
}


/*--------- Post entier ---------*/
.post {
    margin-block-start: var(--space-regions);
}
.post__retour {
    font-size: var(--text-size-desc);
    margin-top: 0;
}
.post__image-intro {
    height: calc(var(--space-regions) * 2);
}
.post :is(h1, h2, h3, h4, h5, h6) + * {
    --flow-space: var(--space-2xs);
}
figcaption {
    font-size: var(--text-size-desc);
    text-wrap: balance;
    padding-block-start: calc(var(--space-gutter-s) / 2);
} 
.post :is(ol, ul) > * + * {
    margin-block-start: var(--ul-margin, var(--space-gutter-s));
}
.post :is(ol, ul) > *::marker {
    color: var(--old-gold);
}
.post blockquote {
    font-size: var(--text-size-big);
    padding-inline-start: var(--space-gutter-s);
    border-inline-start: solid var(--space-gutter-s) var(--accent);
}


/*--------- Nav post entier ---------*/
.post .post__post-nav {
    position: sticky;
    top: var(--space-gutter);
    grid-column: 1;
    grid-row: 2;
    margin-block-start: var(--space-m);
    margin-inline-end: var(--space-gutter);
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background: var(--fond-hover);
    width: fit-content;
    height: fit-content;
    max-width: 15em;
}
html .post .post__post-nav > nav > ul {
    --ul-margin: calc(var(--space-gutter-s) / 2);
    padding: var(--space-gutter);
}
.post-nav__item:first-child::marker {
    content: none;
}
.post-nav__item {
    width: fit-content;
    line-height: var(--text-line-height-short);
    list-style-position: inside;
}
.post-nav__item::marker {
    content: "# ";
}
.post .post-nav__link {
    font-size: calc(var(--text-size-desc) * 1.3);
    text-wrap: balance;
}
html[data-theme="light"] .post-nav__link {
    color: var(--text-color);
}
@media (max-width: 95rem) {
    .post .post__post-nav {
        position: initial;
        grid-column: content;
        grid-row: initial;
        margin-block-end: var(--space-gutter);
        width: 100%;
        max-width: 100%;
        border-radius: var(--radius);
    }
    .post-nav__item:first-child {
        display: none;
    }
}


/*--------- Footer ---------*/
body footer:has(.sep) {
    margin-block-start: var(--space-regions);
}
footer > * {
    --flow-space: var(--space-gutter-s);
} 
footer a.button {
    --button-padding: var(--space-l);
    --button-line-height: var(--text-line-height-fine);
    --button-text-size: var(--text-size-heading-3);
    --button-bg: var(--accent); 
    --button-text-color: var(--gris-900);

    width: 100%;
    text-align: center;
    padding-block: var(--button-padding);
    text-wrap: balance;
    border: solid 1px;
}
footer a.button:hover {
    --button-bg: var(--accent-hover); 
    --button-interact-text: var(--gris-900);
}
footer a.button::after {
    content: none;
}
.footer__copyright {
    font-size: var(--text-size-desc);
    display: flex;
    justify-content: space-between;
}


/*--------- Classes utilitaires ---------*/
.relative {
    position: relative;
}
.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--elem-gap, var(--space-gutter));
}
.space-between {
    justify-content: space-between;
}
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}
@media (min-width: 60rem) {
    .w-30 {
        width: 30%;
    }
}