<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage layout</title>
    <link rel="stylesheet" href="/style/homepage.css">
    <script src="/scripts/switchTheme.js"></script>
</head>
<header>
    <nav class="main-nav">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="section-container">
        <section id="hero">
            <div class="flex-row">
                <article class="flow">
                    <h1>
                        <strong>Antoine Moreau</strong>
                        <span>Webdesigner, rôliste, procrastinateur et marmonneur.</span>
                    </h1>
                    <em>Webdesigner à Solocal.</em>
                    <p>Un blog simple pour rassembler mes idées et expériences dans mes différents hobbies. Du Webdesign, du jeu de rôle, de la figurine, du jeux vidéo et surement d'autres choses encore. Bref, encore un autre blog d'homme blanc trentenaire. Et non, je n'ai pas de podcast, pas la peine d'insister.</p>
                </article>
                <img src="https://source.unsplash.com/random/?city,night" alt="alt de l'image">
            </div>
        </section>
        <section>
            <h2>Mes derniers posts</h2>
            <div class="post-container flow">
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
            </div>
        </section>
    </div>
</body>
<footer>
    <p>Antoine Moreau - 2024</p>
</footer>
</html>