<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage layout</title>
    <link rel="stylesheet" href="/style/homepage.css">
    <script src="/scripts/switchTheme.js"></script>
</head>
<body class="flow">
    <main>
        <aside>  
            <nav class="main-nav">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </aside>
        <section>
            <h2>Mes derniers posts</h2>
            <div class="post-container flow">
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
                <article class="post flow">
                    <h3>Titre du post de blog</h3>
                    <span class="tag">Webdesign</span>
                    <p class="date">01/01/2024</p>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sapien turpis, consectetur vel consequat ac, ultricies nec turpis. Quisque imperdiet non augue in faucibus. Integer ut maximus orci.</p>
                    <button>Lire la suite.</button>
                </article>
            </div>
        </section>
    </main>
</body>
<footer>
    <p>Antoine Moreau - 2024</p>
</footer>
</html>