--- 
title: Page inconnue
layout: 'base.njk'
--- 

<main class="content-grid">
    <h1>Cette page n'existe pas. </h1>
    <p>Le plus simple, c'est encore de </p><a href="/">retourner au point de départ</a>.
</main>