--- 
title: Page inconnue
layout: 'base.njk'
--- 

<main class="content-grid">
    <span class="error-message">Erreur 404.</span>
    <h1>Cette page n'existe pas. </h1>
    <p>Le plus simple, c'est encore de <a href="/">retourner au point de départ.</a></p>
</main>