--- 
title: tous les articles
layout: 'base.njk'
--- 

    <main class="flow">
        <h1>Tous les articles</h1>
        {%- for post in collections.post | reverse -%}
            {% include "post-preview.njk" %}
        {%- endfor -%}
    </main>

    {# <h2>Catégorie: Le jdr</h2>
    {%- for post in collections.jdr | reverse -%}
        {% include "post-preview.njk" %}
    {%- endfor -%} #}