--- 
title: Tout les articles
layout: 'base.njk'
--- 

<main class="content-grid">
    <section class="grid-auto">
        {%- for post in collections.post | reverse -%}
            {% include "post-preview.njk" %}
        {%- endfor -%}
    </section>
</main>