--- 
title: Blog du Marmonneur
layout: 'base.njk'
--- 

    <main class="content-grid flow">
        <section class="hero flow">
            <figure class="hero__img">
                <img src="/assets/img/lazy-jack-Batten-John-Dickson-face.jpg" alt="illustration: lazy jack, de Batten John Dickson."/>
                {# <figcaption>Coucou Lolo ❤️</figcaption> #}
            </figure>
            <h1>Le blog du marmonneur</h1>
            <p>Un blog pour parler de mes hobbies. Du Webdesign, du jeu de rôle, de la figurine, du jeu vidéo et sûrement d'autres choses encore. Bref, encore un autre blog d'homme blanc trentenaire. Et non, je n'ai pas de podcast, pas la peine d'insister.</p>
        </section>
        <section class="sep flow">
            <h2># Les [03] derniers articles</h2>
            <section class="flow">
                {% set latest_posts = collections.post %}
                    {% for post in latest_posts.slice(0,3) | reverse %}
                        {% include "post-preview-h3.njk" %}
                    {% endfor %}
            </section>
        </section>
    </main>